/* @import url("https://fonts.googleapis.com/css?family=Exo:400,700"); */
.about-header {
  background-color: var(--blue);
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: end;
  overflow: hidden;
}

/* body {
  font-family: "Exo", sans-serif;
} */

/* .context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
} */

/* .area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
} */

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/* Need to make boxes smaller */
/* Not responsive for smaller screen?? */
.box-container {
  animation: addPerspective 1s ease 7s forwards;
}
.container {
  margin: 15px;
  padding: 10px;
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  /* perspective: 500px; Add perspective */
  animation: rotate 8s linear, changePerspective 1s ease 7s forwards;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  opacity: 0;
}

.front {
  background-color: purple;
  transform: translateZ(50px);
}
.back {
  background-color: black;
  transform: rotateY(180deg) translateZ(50px);
}
.right {
  background-color: red;
  transform: rotateY(90deg) translateZ(50px);
}
.left {
  background-color: blue;
  transform: rotateY(-90deg) translateZ(50px);
}
.top {
  background-color: green;
  transform: rotateX(90deg) translateZ(50px);
}
.bottom {
  background-color: yellow;
  transform: rotateX(-90deg) translateZ(50px);
}

@keyframes buildBox {
  0% {
    opacity: 1;
  }
  16.7% {
    opacity: 1;
  }
  33.4% {
    opacity: 1;
  }
  50.1% {
    opacity: 0.8;
  }
  66.8% {
    opacity: 0.6;
  }
  83.5% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}

.front {
  animation: buildBox 6s ease-in-out 0s 1 normal forwards;
}
.back {
  animation: buildBox 6s ease-in-out 1s 1 normal forwards;
}
.right {
  animation: buildBox 6s ease-in-out 2s 1 normal forwards;
}
.left {
  animation: buildBox 6s ease-in-out 3s 1 normal forwards;
}
.top {
  animation: buildBox 6s ease-in-out 4s 1 normal forwards;
}
.bottom {
  animation: buildBox 6s ease-in-out 5s 1 normal forwards;
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes addPerspective {
  0% {
    perspective: none;
  }
  100% {
    perspective: 1000px;
  }
}

@keyframes changePerspective {
  0% {
    perspective: none;
  }
  100% {
    perspective: 500px;
  }
}

/* Old stuff */
.responsive-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.top-about {
  width: 600px;
  height: auto;
  margin: 2.5%;
}
.top-about p span {
  display: block;
  margin: 5px 0;
}
.intro-text {
  font-size: 30px;
}
.about-icon {
  max-width: 45px;
  margin: 0 2%;
}
.profile-pic {
  width: 100%;
  max-width: 500px;
  border-radius: 30%;
  height: auto;
}
.about-me {
  margin: 3%;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
.clip-art {
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* Screen responsiveness laptop */
@media screen and (min-width: 1200px) {
  .responsive-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .top-about {
    margin-right: 5%;
  }
  .about-me {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    margin-bottom: 35px;
  }
  .profile-pic {
    width: 100%;
    max-width: 650px;
    border-radius: 30%;
    height: auto;
  }
  .clip-art {
    width: 500px;

    height: auto;
  }
  .image-center {
    margin-right: 6%;
  }
  .about-me p {
    max-width: 650px;
  }
}
.image-center {
  text-align: center;
}
.circle {
  background: lightblue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  bottom: 35px;
  left: 50px;
  position: absolute;
}
.trial {
  position: relative;
}
.rectangle {
  height: 30%;
  width: 100vw;
  background-color: #77a2de;
  position: absolute;
  z-index: -1;
}
.top-about div {
  /* background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); */
  background: linear-gradient(to top, #295376 60%, white 60%);
  border-radius: 30%;
  max-width: 600px;
  max-height: 800px;
  padding: 2%;
  z-index: -1;
}
